<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISolicitudMatriculas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5763/SolicitudMatriculas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitudMatriculas"
                contract="MatriculaWS.ISolicitudMatriculas" name="BasicHttpBinding_ISolicitudMatriculas" />
        </client>
    </system.serviceModel>
</configuration>